@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Primary colors */
  --color-primary: #fbc944;

  --color-secondary: #070707;
  --color-secondary-light: #2f2f2f;

  --text-primary: #181818;
  --text-secondary: #747474;
  --text-inverse: #ffffff;


}

@theme{
  --font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-roboto: "Roboto", sans-serif; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
