@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Primary colors */
  --color-primary: #fbc944;

  --color-secondary: #070707;
  --color-secondary-light: #2f2f2f;

  --text-primary: #181818;
  --text-secondary: #747474;
  --text-inverse: #ffffff;


}

